* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    top: 80px;
    width: 1345px;
    height: 1050px;
    margin: 0 auto;
}

.container header {
    background-color: rgba(255, 255, 255, 0);
    height: 60px;
    width: 1345px;
}

.container h2 {
    height: 80px;
    width: 1345px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    align-content: center;
    color: black;
}

.menu-backgroud {
    height: 80px;
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 9999;
}

.menu {
    width: 1345px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
}

.menu label {
    width: 250px;
    display: flex;
    position: relative;
    left: 20px;
}

.menu label a {
    display: flex;
    align-items: center;
}

.menu label h1 {
    color: black;
    font-family: "Shippori Mincho", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    position: relative;
    right: 16px;
    top: 2px;
    width: 200px;
}

.menu label a {
    text-decoration: none;
}

.menu img {
    height: 60px;
}

.menu h1 {
    font-size: 25px;
}

.navegation li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    background-color: #1d1d1d;
    padding: 6px;
    border-radius: 5px;
}

.navegation ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    position: relative;
    right: 15px;
    
}

.navegation li {
    display: inline;
    position: relative;
    right: 15px;
}

.navegation li a:hover {
    text-decoration: underline;
    background-color: rgb(22, 22, 22);
}

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: relative;
    left: 20px;
    top: 50px;
    width: 100%;
    max-width: 1345px;
    margin: auto;
}

.articles time {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.623);
}

.articles article {
    width: calc(33.33% - 10px);
    height: 460px;
    box-sizing: border-box;
}

.articles header {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.articles img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.articles h3 {
    padding-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.articles p {
    position: relative;
    padding-top: 18px;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.articles a {
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    height: 30px;
    width: 60px;
    align-content: center;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.articles a:hover {
    background-color: rgb(236, 236, 236);
    color: black;
}

.linha {
    width: 98%;
    height: 1.5px;
    position: relative;
    left: 10px;
    background-color: black;
}

@media (max-width: 1355px) {

    .container {
        width: 100%;
        height: 1020px;
    }

    .linha {
    width: 98%;;
    }

    .menu {
        width: 100%;
    }

}

@media (max-width: 1265px) {

    .articles article {
        width: calc(50% - 25px);
        height: 490px;
        position: relative;
        left: 10px;
    }

    .articles img {
        object-fit: cover;
        height: 85%;
        width: 100%;
        
    }

    .articles header {
        width: 90%;
    }

    .articles p {
        margin-top: 20px;
    }

    .container {
        width: 100%;
        height: 1589px;
        margin-bottom: 40px;
    }

    .container h2 {
        height: 80px;
        width: 100%;
    }

    .container header {
        width: 100%;
    }

}

@media (max-width: 879px) {

    .articles article {
        width: 90%;
        height: 550px;
        position: relative;
        left: 10px;
    }

    .container {
        width: 100%;
        height: 3420px;
        
    }

    .articles p {
        width: 90%;
    }

    .articles img{
        object-fit: inherit;
        height: 500;
    }

}

@media (max-width: 710px) {

    header {
        height: 120px;
    }
    
    .menu-backgroud {
        height: 120px;
    }

    .container {
        width: 100%;
        height: 3430px;
        position: relative;
        top: 120px;
        margin-bottom: 30px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100px;
    }

    .navegation {
        position: relative;
        left: 6%;
    }

    .linha {
        width: 97%;
    }

}