* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.about {
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 630px;
}

.about img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
}

.main-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: black;

}

.main-page p {
    width: 70%;
    font-size: 22px;
    font-family: "Space Mono", monospace;
    font-weight: 500;
    font-style: normal;
    position: relative;
    top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

.main-page h1 {
    font-family: "DM Serif Display", serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.20);
    font-weight: 500;
    font-style: normal;
    position: relative;
    bottom: 40px;
    font-size: 36px;
    width: 60%;
}

.shop {
    position: relative;
    top: 90px;
    background: radial-gradient(circle, #141414,#000000);
    color: #ececec;
    height: 90px;
    width: 100%;
    display: block;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.shop a {
    color: #ececec;
}

.shop h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.menu-news {
    height: 70px;
    width: 100%;
    background-color: #000000;
    justify-content: center;
}

.menu-news nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu-news nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    
    list-style-type: none;
    font-family: "Poiret One", sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.menu-news nav ul a {
    color: #f3f3f3;
    text-decoration: none;
    box-sizing: border-box;
}

.menu-news nav ul a:hover {
    background-color: #ececec;
    color: #141414;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin: -5px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-content: center;
    position: relative;
    max-width: 1345px;
    width: 100%;
    height: 1170px;
}

.container header {
    display: flex;
    height: 150px;
    width: 1345px;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.container header h2 {
    width: 100%;
    max-width: 1290px;
    position: relative;
    text-align: start;
    font-family: "DM Serif Display", serif;
    font-size: 30px;
    font-weight: normal;
    color: black;
}

.menu-backgroud {
    height: 80px;
    width: 100%;
    background: radial-gradient(circle, #f3f3f3, #cfcfcf);
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 9999;
    box-sizing: border-box;
}

.menu {
    max-width: 1345px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
}

.menu label {
    width: 150px;
    display: flex;
    position: relative;
    left: 40px;
    height: 100%;
    align-items: center;
}

.menu label a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu label h1 {
    color: black;
    font-family: "Shippori Mincho", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    position: relative;
    right: 16px;
    top: 2px;
    width: 150px;
}

.menu img {
    height: 60px;
}

.menu h1 {
    font-size: 25px;
}


.navegation {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.navegation li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: "Poiret One", sans-serif;
    font-weight: bolder;
    position: relative;
    border-radius: 10px;
    padding: 5px;
}

.navegation nav {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
}

.navegation ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    position: relative;
}

.navegation li {
    display: inline;
    position: relative;
}

.navegation li a:hover {
    border-bottom: solid 1px #000000;
}

nav input {
    width: 450px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #1d1d1d81;
    padding-left: 20px;
}

nav input:focus {
    outline-color: #3a3a3a;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: relative;
    left: 20px;
    width: 100%;
    max-width: 1345px;
    margin: 0px;
}

.articles time {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.623);
}

.articles article {
    width: calc(33.33% - 15px);
    height: 540px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.articles header {
    height: 350px;
    width: 95%;
    display: flex;
    flex-direction: column;
    
}

.articles img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.articles h3 {
    padding-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.articles p {
    position: relative;
    height: 115px;
    width: 95%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.articles a {
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    height: 30px;
    width: 60px;
    align-content: center;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.articles a:hover {
    background-color: #ececec;
    color: black;
}

.linha {
    width: 98%;
    height: 1.5px;
    position: relative;
    left: 10px;
    background-color: black;
}

.contact-container {
    width: 100%;
    height: 380px;
    margin-top: 17px;
    color: #f3f3f3;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
}

.contact-methods {
    display: flex;
    width: 100%;
    max-width: 1345px;
    height: 100%;
    text-align: center;
}

.contact-methods article {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.contact-methods article h2 {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 23px;
}

.contact-methods form {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 330px;
    justify-content: center;
}

.contact-methods input {
    margin-bottom: 10px;
    height: 30px;
}

.contact-methods textarea,
.contact-methods input {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
}

.contact-methods textarea {
    height: 100px;
    resize: none;
}

.contact-methods button {
    height: 40px;
    background-color: #000000;
    color: #f3f3f3;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    border-radius: 5px;
}

.contact-methods button:hover {
    background-color: #ececec;
    ;
    color: #000000;
}

.logos ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.logos img {
    height: 33px;
}

.logos li a {
    text-decoration: none;
}

.rodape {
    display: block;
    align-content: center;
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}



@media (max-width: 1355px) {

    .container {
        width: 100%;
        height: 1020px;
    }

    .linha {
    width: 98%;;
    }

    .menu {
        width: 100%;
    }

}

@media (max-width: 1265px) {

    .articles article {
        width: calc(50% - 25px);
        height: 490px;
        position: relative;
        left: 10px;
    }

    .articles img {
        object-fit: cover;
        height: 85%;
        width: 100%;
        
    }

    .articles header {
        width: 90%;
    }

    .articles p {
        margin-top: 20px;
    }

    .container {
        width: 100%;
        height: 1589px;
        margin-bottom: 40px;
    }

    .container h2 {
        height: 80px;
        width: 100%;
    }

    .container header {
        width: 100%;
    }

}

@media (max-width: 879px) {

    .articles article {
        width: 90%;
        height: 550px;
        position: relative;
        left: 10px;
    }

    .container {
        width: 100%;
        height: 3420px;
        
    }

    .articles p {
        width: 90%;
    }

    .articles img{
        object-fit: inherit;
        height: 500;
    }

}

@media (max-width: 710px) {

    header {
        height: 120px;
    }
    
    .menu-backgroud {
        height: 120px;
    }

    .container {
        width: 100%;
        height: 3430px;
        position: relative;
        top: 120px;
        margin-bottom: 30px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100px;
    }

    .navegation {
        position: relative;
        left: 6%;
    }

    .linha {
        width: 97%;
    }

}